{% extends 'learning_logs/base.html' %} 
{% load bootstrap4 %} 

{% block page_header %} 
<h4>
    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
</h4>
{% endblock page_header %}

{% block content %} 
<h6>Edit entry:</h6> 

<form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="form">
    {% csrf_token %} 
    {% bootstrap_form form %} 
    {% buttons %}
    <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
</form> 

{% endblock content %}